In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv("ip_log.csv")

In [33]:
df

                key        value          server_ip
0      41_value_key  value_41939  35.239.13.29:2379
1      66_value_key  value_66709  34.132.124.6:2379
2      43_value_key  value_43135  34.132.124.6:2379
3      93_value_key  value_93173  35.239.13.29:2379
4      23_value_key  value_23186  34.132.124.6:2379
...             ...          ...                ...
38634  38_value_key  value_38467  34.132.124.6:2379
38635  17_value_key  value_17127  34.132.124.6:2379
38636  54_value_key  value_54975  34.132.124.6:2379
38637  29_value_key   value_2938  35.239.13.29:2379
38638  47_value_key  value_47112  34.132.124.6:2379

[38639 rows x 3 columns]

In [34]:
ips = df['server_ip'].unique()

In [35]:
for ip in ips:
    ip_df = df[df['server_ip'] == ip]
    print("IP:", ip)
    print("Entries:", ip_df.shape[0])
    print("Keys assigned:", ip_df['key'].unique())
    print("Unique keys:", ip_df['key'].unique().shape[0])

IP: 35.239.13.29:2379
Entries: 11366
Keys assigned: ['41_value_key' '93_value_key' '60_value_key' '69_value_key'
 '29_value_key' '65_value_key' '39_value_key' '13_value_key'
 '62_value_key' '4_value_key' '26_value_key' '81_value_key' '42_value_key'
 '44_value_key' '99_value_key' '89_value_key' '10_value_key'
 '16_value_key' '49_value_key' '63_value_key' '52_value_key'
 '87_value_key' '31_value_key' '77_value_key' '85_value_key'
 '57_value_key' '97_value_key' '94_value_key' '20_value_key'
 '92_value_key']
Unique keys: 30
IP: 34.132.124.6:2379
Entries: 13199
Keys assigned: ['66_value_key' '43_value_key' '23_value_key' '3_value_key'
 '100_value_key' '95_value_key' '15_value_key' '0_value_key' '9_value_key'
 '37_value_key' '18_value_key' '33_value_key' '61_value_key'
 '98_value_key' '27_value_key' '12_value_key' '34_value_key'
 '22_value_key' '47_value_key' '84_value_key' '24_value_key'
 '38_value_key' '54_value_key' '76_value_key' '25_value_key'
 '17_value_key' '8_value_key' '83_value_key' '50_value_key' '46_value_key'
 '68_value_key' '82_value_key' '96_value_key' '35_value_key']
Unique keys: 34
IP: 35.222.1.226:2379
Entries: 14074
Keys assigned: ['70_value_key' '11_value_key' '74_value_key' '56_value_key'
 '58_value_key' '67_value_key' '36_value_key' '32_value_key'
 '64_value_key' '28_value_key' '59_value_key' '71_value_key'
 '55_value_key' '19_value_key' '75_value_key' '40_value_key'
 '45_value_key' '1_value_key' '30_value_key' '78_value_key' '14_value_key'
 '80_value_key' '5_value_key' '91_value_key' '7_value_key' '79_value_key'
 '73_value_key' '2_value_key' '6_value_key' '48_value_key' '72_value_key'
 '90_value_key' '88_value_key' '21_value_key' '86_value_key'
 '51_value_key' '53_value_key']
Unique keys: 37